<div class="flex h-56">
    <div class="flex-none w-48 relative">
        <img src="{{product.link}}" alt="{{product.name}}" class="absolute inset-0 w-full h-full object-cover rounded-l-lg" />
    </div>
    <div class="p-6 border-y border-r border-sky-300 rounded-r-lg w-96 flex flex-col">
        <h2 class="text-3xl text-violet-600">
            {{product.name}}
        </h2>
        <p class="my-2 text-sm text-slate-600 flex-grow">
            {{product.description}}
        </p>
        <div class="text-sm font-medium self-end">
            <button
                    class="transition ease-in-out delay-150 h-10 px-6 font-semibold rounded-lg border text-slate-700 font-sans duration-300 hover:-translate-y-1 hover:scale-110"
                    [ngClass]="notifyPurchase ? 'border-emerald-400 bg-emerald-100':'border-slate-200 bg-sky-300 hover:bg-violet-300'"
                    (click)="purchaseProduct()">
                <span *ngIf="!notifyPurchase; else notify">Add to basket</span>
                <ng-template #notify><div class="flex items-center">
                    <span class="material-icons-outlined text-emerald-600">check_circle_outline</span>
                    <span class="font-semibold text-l">&nbsp; Added!</span>
                </div></ng-template>
            </button>
        </div>
    </div>
</div>
